{% load django_bootstrap5 %}

{% load i18n %}

{% bootstrap_css %}
{% bootstrap_javascript %}

{% get_current_language as LANGUAGE_CODE %}
{% language LANGUAGE_CODE %}

<body class="min-vh-100 d-flex flex-column">

    {% include "elements/navbar.html" %}

    {% bootstrap_messages %}

    <div class="flex-grow-1 row container-fluid">
        <div class="col-md-1"></div>
        <div class="col-md-10 col-sm-12">
            <main class="m-3">
                {% block content %}{% endblock %}
            </main>
        </div>
        <div class="col-md-1"></div>
    </div>

    {% include "elements/footer.html" %}

</body>

{% endlanguage %}
