{% extends 'layout.html' %}

{% load i18n %}

{% block content %}
<h1>{% trans "Tasks" %}</h1>
<a href="{% url 'create_task' %}" class="btn btn-primary my-3">{% trans "Create task" %}</a>
<table class="table table-striped" data-test="urls">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">{% trans "Name" %}</th>
      <th scope="col">{% trans "Status" %}</th>
      <th scope="col">{% trans "Author" %}</th>
      <th scope="col">{% trans "Executor" %}</th>
      <th scope="col">{% trans "Created at" %}</th>
      <th scope="col"></th>
    </tr>
  </thead>
  {% if tasks %}
  <tbody>
    {% for task in tasks %}
    <tr>
        <td>{{ task.id }}</td>
        <td><a href="{% url 'task_details' task.id %}">{{ task.name }}</a></td>
        <td>{{ task.status }}</td>
        <td>{{ task.author }}</td>
        <td>{{ task.executor }}</td>
        <td>{{ task.created_at }}</td>
        <td>
            <div>
                <a href="{% url 'update_task' task.id %}">{% trans "Update" %}</a>
                <br>
                <a href="{% url 'delete_task' task.id %}">{% trans "Delete" %}</a>
            </div>
        </td>
    </tr>
    {% endfor %}
  </tbody>
  {% endif %}
</table>
{% endblock %}
